---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% include base_path %}

Also find my articles on [Google Scholar](https://scholar.google.com/citations?user=5uK8ga0AAAAJ&hl=en).

<h2>Selected Publications</h2>

{% assign manuscripts = site.publications | where: "category", "manuscripts" | sort: "date" | reverse %}
{% for post in manuscripts %}
  {% include archive-single.html %}
{% endfor %}

<h2>Working Papers</h2>

{% assign working_papers = site.publications | where: "category", "working-papers" | sort: "date" | reverse %}
{% for post in working_papers %}
  {% include archive-single.html %}
{% endfor %}
